{% extends app.request.attributes.has('isModalRequest') ? 'modal.html.twig' : 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between">
        <div>
            <h1>Endpoint {{ endpoint.name }}</h1>
        </div>

        <div>
            <a class="btn btn-lg btn-primary"
               href="{{ path('web_endpoint_test', {'applicationId': application.id, 'id': endpoint.id}) }}">
                <i class="bi-arrow-repeat"></i>
                Update now
            </a>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-header">
            <h2 class="card-title">Collected metrics</h2>

            <p class="card-subtitle">
                These are all the metrics that have been collected using this endpoint.
            </p>
        </div>

        <div class="card-body">

            <div class="row">
                {% for product, metrics in lastMetricsPerProduct %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card my-3 shadow-sm">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">{{ product }}</h3>
                                    <div>
                                        <i class="bi-three-dots-vertical"></i>
                                    </div>
                                </div>

                                <div class="row">
                                    {% for metric in metrics %}
                                        {{ include('fragments/metric/metric-block.html.twig', { metric: metric }) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-header">
            <h2 class="card-title">Datapoints</h2>
        </div>
        <div class="table-flush">
            <table class="table table-striped init-datatable">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Datapoints</th>
                    <th scope="col">Last datapoint</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for metric in endpoint.metrics %}
                    <tr>
                        <th scope="row" class="align-middle">{{ metric.id }}</th>
                        <td class="align-middle">{{ metric.product }}</td>
                        <td class="align-middle">{{ metric.discriminator.name }}</td>
                        <td class="align-middle">{{ metric.datapoints.count }}</td>
                        <td class="align-middle">
                            {% if metric.lastDatapoint %}
                                {{ metric.lastDatapoint.updatedAt }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="align-middle wrap-content">

                            <a class="btn btn-sm btn-primary"
                               href="{{ path('web_application_details', {'id': metric.id}) }}">
                                <i class="bi-eye"></i>
                                View
                            </a>

                            <a class="btn btn-sm btn-secondary"
                               href="{{ path('web_application_update', {'id': metric.id}) }}">
                                <i class="bi-pencil"></i>
                                Edit
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-header">
            <h2 class="card-title">Collection logs</h2>
            <p class="card-subtitle">
                If data collection is not working as expected, these logs may help.
                You can set the retention period in the endpoint settings.
            </p>
        </div>
        <div class="table-flush">
            <table class="table table-striped init-datatable">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Successful</th>
                    <th scope="col">Metrics created / updated</th>
                    <th scope="col">Metrics missing in response</th>
                    <th scope="col">Datapoints created / updated</th>
                    <th scope="col">Executed at</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for log in endpoint.collectionLogs %}
                    <tr>
                        <th scope="row" class="align-middle">{{ log.id }}</th>
                        <td class="align-middle">
                            {% if not log.successful %}
                                <span class="text-danger">No</span>
                            {% else %}
                                Yes
                            {% endif %}</td>
                        <td class="align-middle">
                            {{ log.createdMetricCount }} / {{ log.updatedMetricCount }}
                        </td>
                        <td class="align-middle">
                            {{ log.metricsMissingInResponseCount }}
                        </td>
                        <td class="align-middle">
                            {{ log.createdDatapointCount }} / {{ log.updatedDatapointCount }}
                        </td>
                        <td class="align-middle">
                            {{ log.createdAt }}
                        </td>
                        <td class="align-middle wrap-content">

                            <a class="btn btn-sm btn-primary"
                               href="{{ path('web_application_details', {'id': log.id}) }}">
                                <i class="bi-eye"></i>
                                View
                            </a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
