{% extends app.request.attributes.has('isModalRequest') ? 'modal.html.twig' : 'base.html.twig' %}

{% block body %}
    <h1>{{ application.name }}</h1>

    <h2>Endpoints</h2>

    <table class="table table-striped init-datatable">
        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
            <th scope="col">State</th>
            <th scope="col">Created</th>
            <th scope="col">Last updated</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for endpoint in application.endpoints %}
            <tr>
                <th scope="row" class="align-middle">{{ endpoint.id }}</th>
                <td class="align-middle">{{ endpoint.name }}</td>
                <td class="align-middle">{{ endpoint.name }}</td>
                <td class="align-middle">{{ endpoint.name }}</td>
                {#                    <td class="align-middle">{{ endpoint.groups | reduce(g => g.name) | join(', ') }}</td>#}
                <td class="align-middle">{{ endpoint.createdAt }}</td>
                <td class="align-middle">{{ endpoint.updatedAt }}</td>
                <td class="align-middle">

                    <a class="btn btn-sm btn-primary" href="{{ path('web_application_details', {'id': endpoint.id}) }}">
                        <i class="bi-eye"></i>
                        View
                    </a>

                    <a class="btn btn-sm btn-secondary" href="{{ path('web_application_update', {'id': endpoint.id}) }}">
                        <i class="bi-pencil"></i>
                        Edit
                    </a>

                    <a {{ stimulus_target('groups/actions', 'deleteButton')}} class="btn btn-sm btn-outline-danger" {{ stimulus_action('groups/actions', 'confirmDelete') }}>
                        <i class="bi-trash"></i>
                        Delete
                    </a>

                    <form {{ stimulus_target('groups/actions', 'deleteForm')}} action="{{ path('web_application_delete', {'id': endpoint.id} ) }}" method="POST" class="d-none">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="bi-trash-fill"></i>
                            Confirm delete
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
