{% extends 'base.html.twig' %}

{% block body %}
    <h1>User management</h1>

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h2 class="card-title">Users</h2>
                </div>

                <div>
                    <a class="btn btn-primary" href="{{ path('web_user_create') }}" role="button">
                        <i class="bi-person-fill-add"></i>
                        Create new user
                    </a>
                </div>
            </div>
        </div>

        <div class="table-flush">
            <table class="table init-datatable">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Registered</th>
                    <th scope="col">Last updated</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr {{ stimulus_controller('users/actions', {
                        'deleteUrl': path('web_user_delete', {'id': user.id})
                    }) }}>
                        <th scope="row" class="align-middle">{{ user.id }}</th>
                        <td class="align-middle">{{ user.username }}</td>
                        <td class="align-middle">{{ user.email }}</td>
                        <td class="align-middle">{{ user.createdAt }}</td>
                        <td class="align-middle">{{ user.updatedAt }}</td>
                        <td class="align-middle wrap-content">
                            <a class="btn btn-sm btn-primary" href="{{ path('web_user_update', {'id': user.id}) }}">
                                <i class="bi-pencil"></i>
                                Edit
                            </a>

                            <a {{ stimulus_target('users/actions', 'deleteButton')}} class="btn btn-sm btn-outline-danger" {{ stimulus_action('users/actions', 'confirmDelete') }}>
                                <i class="bi-trash"></i>
                                Delete
                            </a>

                            <form {{ stimulus_target('users/actions', 'deleteForm')}} action="{{ path('web_user_delete', {'id': user.id} ) }}" method="POST" class="d-none">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="bi-trash-fill"></i>
                                    Confirm delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h2 class="card-title">Groups</h2>
                </div>

                <div>
                    <a class="btn btn-primary" href="{{ path('web_group_create') }}" role="button">
                        <i class="bi-plus-circle-fill"></i>
                        Create new group
                    </a>
                </div>
            </div>
        </div>

        <div class="table-flush">
            <table class="table init-datatable">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount of users</th>
                    <th scope="col">Created</th>
                    <th scope="col">Last updated</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr {{ stimulus_controller('groups/actions', {
                        'deleteUrl': path('web_group_delete', {'id': group.id})
                    }) }}>
                        <th scope="row" class="align-middle">{{ group.id }}</th>
                        <td class="align-middle">{{ group.name }}</td>
                        <td class="align-middle">{{ group.users.count }}</td>
                        <td class="align-middle">{{ group.createdAt }}</td>
                        <td class="align-middle">{{ group.updatedAt }}</td>
                        <td class="align-middle wrap-content">
                            <a class="btn btn-sm btn-primary" href="{{ path('web_group_update', {'id': group.id}) }}">
                                <i class="bi-pencil"></i>
                                Edit
                            </a>

                            <a {{ stimulus_target('groups/actions', 'deleteButton')}} class="btn btn-sm btn-outline-danger" {{ stimulus_action('groups/actions', 'confirmDelete') }}>
                                <i class="bi-trash"></i>
                                Delete
                            </a>

                            <form {{ stimulus_target('groups/actions', 'deleteForm')}} action="{{ path('web_group_delete', {'id': group.id} ) }}" method="POST" class="d-none">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="bi-trash-fill"></i>
                                    Confirm delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
